<img src="https://pandas.pydata.org/static/img/pandas_white.svg" width="500" >

# Data Series

### What is Data Series?

In Pandas, a **Data Series** is a single, one-dimensional data structure. Simply put we can say that it is a single column of data. Data Series also contains a **indexes** of each element.

## 1.How to create Data Series?

In [34]:
import pandas as pd

In [62]:
cities = ["London", "Warsaw", "Berlin", "Paris"]
pd.Series(cities)

0    London
1    Warsaw
2    Berlin
3     Paris
dtype: object

In [64]:
pd.Series(["Cat", "Dog", "Parrot", "Hamster"])

0        Cat
1        Dog
2     Parrot
3    Hamster
dtype: object


If you want to create a Data Series with your **own names of indexes**, ypu should use a **dictionary**.

In [71]:
pet = {"name" : "Jack", "type" : "cat", "color" : "black"}
pd.Series(pet)

name      Jack
type       cat
color    black
dtype: object

### Exercises:

1. Create a list of week days and give it a name **weekdays**.
2. Create Data Series object based od created **weekdays** list, and assign it to variable **weekdaysSeries**. Display this variable.
3. Create list **freeDays**. List should contains the same amount of elements like **weekdays** list. In the next positions in the list assign value **True** if the day is free or **False** if the day is not free.
4. Create **freeDaysSeries** Data Series object based on **freeDays** list. Display created variable. What is the type of list?
5. Create dictionary **holidays**. Key is the name of holiday, a value is date.
6. Create Data Series **holidaysSeries** based on created dictionary.

### Solutions:

In [102]:
weekdays = ["Monday", "Tuesday", "Wendesday", "Thursday", "Friday", "Saturday", "Sunday"]
weekdaysSeries = pd.Series(weekdays)
weekdaysSeries

0       Monday
1      Tuesday
2    Wendesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object

In [108]:
freeDays = [False, False, False, False, False, True, True]
freeDaysSeries = pd.Series(freeDays)
freeDaysSeries

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [118]:
holidays = {"New year" : "2025-01-01", "Epiphany" : "2025-01-06", "Easter" : "2025-04-01"}
holidaysSeries = pd.Series(holidays)
holidaysSeries

New year    2025-01-01
Epiphany    2025-01-06
Easter      2025-04-01
dtype: object

## 2. Data Series attributes

size
is_uniqe
is_monotonic_decresing
values
dtype
shape
axes