## Libraries import

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("ggplot")

## Creating DataFrames

In [49]:
df_athlete = pd.read_csv("./data/olympics/Olympic_Athlete_Biography.csv")
events = pd.read_csv("./data/olympics/Olympic_Athlete_Event_Details.csv")

In [54]:
df = pd.merge(df_athlete, events, on = "athlete_id")
df.head()

,athlete_id,name,sex,born,height,weight,country,country_noc_x,description,special_notes,edition,edition_id,country_noc_y,sport,event,result_id,athlete,pos,medal,isTeamSport
0,65649,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,Personal Best: 400 – 53.54 (1980).,NaN,1976 Summer Olympics,19,BUL,Athletics,"4 × 400 metres Relay, Women",62051,Ivanka Bonova,5 h2 r1/2,NaN,True
1,65649,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,Personal Best: 400 – 53.54 (1980).,NaN,1980 Summer Olympics,20,BUL,Athletics,"4 × 400 metres Relay, Women",62530,Ivanka Bonova,AC r2/2,NaN,True
2,112510,Nataliya Uryadova,Female,15 March 1977,184.0,70,Russian Federation,RUS,NaN,Listed in Olympians Who Won a Medal at the Eur...,2008 Summer Olympics,53,RUS,Beach Volleyball,"Beach Volleyball, Women",258676,Nataliya Uryadova,=19,NaN,True
3,114973,Essa Ismail Rashed,Male,14 December 1986,165.0,55,Qatar,QAT,Personal Best: 10000 – 27:20.97 (2006).,Listed in Olympians Who Won a Medal at the Asi...,2008 Summer Olympics,53,QAT,Athletics,"10,000 metres, Men",257228,Essa Ismail Rashed,20,NaN,False
4,30359,Péter Boros,Male,12 January 1908,NaN,NaN,Hungary,HUN,"Between 1927 and 1938, Péter Boros competed as...",NaN,1932 Summer Olympics,10,HUN,Artistic Gymnastics,"Individual All-Around, Men",70092,Péter Boros,19,NaN,False

In [56]:
df.columns

Index(['athlete_id', 'name', 'sex', 'born', 'height', 'weight', 'country',
       'country_noc_x', 'description', 'special_notes', 'edition',
       'edition_id', 'country_noc_y', 'sport', 'event', 'result_id', 'athlete',
       'pos', 'medal', 'isTeamSport'],
      dtype='object')

In [60]:
df = df[[
        #'athlete_id', 
        'name', 'sex', 'born', 'height', 'weight', 'country',
        'country_noc_x', 
        #'description', 'special_notes', 
        'edition',
        #'edition_id', 'country_noc_y', 
        'sport', 'event', 
        #'result_id', 'athlete',
       'pos', 'medal', 'isTeamSport']]
df.head()

,name,sex,born,height,weight,country,country_noc_x,edition,sport,event,pos,medal,isTeamSport
0,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,1976 Summer Olympics,Athletics,"4 × 400 metres Relay, Women",5 h2 r1/2,NaN,True
1,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,1980 Summer Olympics,Athletics,"4 × 400 metres Relay, Women",AC r2/2,NaN,True
2,Nataliya Uryadova,Female,15 March 1977,184.0,70,Russian Federation,RUS,2008 Summer Olympics,Beach Volleyball,"Beach Volleyball, Women",=19,NaN,True
3,Essa Ismail Rashed,Male,14 December 1986,165.0,55,Qatar,QAT,2008 Summer Olympics,Athletics,"10,000 metres, Men",20,NaN,False
4,Péter Boros,Male,12 January 1908,NaN,NaN,Hungary,HUN,1932 Summer Olympics,Artistic Gymnastics,"Individual All-Around, Men",19,NaN,False

In [177]:
df = df.rename(columns = {
                    "born" : "born_date",
                    "country_noc_x" : "country_sym",
                    "isTeamSport" : "is_team_sport"
})

In [179]:
df = df[~df.duplicated(subset = ["name", "edition", "event"])]
df

,name,sex,born_date,height,weight,country,country_sym,edition,sport,event,pos,medal,is_team_sport
0,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,1976 Summer Olympics,Athletics,"4 × 400 metres Relay, Women",5 h2 r1/2,no,True
1,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,1980 Summer Olympics,Athletics,"4 × 400 metres Relay, Women",AC r2/2,no,True
2,Nataliya Uryadova,Female,15 March 1977,184.0,70,Russian Federation,RUS,2008 Summer Olympics,Beach Volleyball,"Beach Volleyball, Women",19,no,True
3,Essa Ismail Rashed,Male,14 December 1986,165.0,55,Qatar,QAT,2008 Summer Olympics,Athletics,"10,000 metres, Men",20,no,False
4,Péter Boros,Male,12 January 1908,NaN,NaN,Hungary,HUN,1932 Summer Olympics,Artistic Gymnastics,"Individual All-Around, Men",19,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
316822,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,1992 Summer Olympics,Athletics,"4 × 400 metres Relay, Men",5,no,True
316823,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,1996 Summer Olympics,Athletics,"400 metres, Men",5 h2 r3/4,no,False
316824,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,1996 Summer Olympics,Athletics,"4 × 400 metres Relay, Men",AC h2 r2/3,no,True
316825,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,2000 Summer Olympics,Athletics,"400 metres, Men",7 h4 r2/4,no,False
316826,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,2000 Summer Olympics,Athletics,"4 × 400 metres Relay, Men",1,Gold,True

In [191]:
df.pos = df.pos.str.replace("=", "")
df.medal = df.medal.fillna("no")
df.medal = df.medal.str.capitalize()
df

,name,sex,born_date,height,weight,country,country_sym,edition,sport,event,pos,medal,is_team_sport
0,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,1976 Summer Olympics,Athletics,"4 × 400 metres Relay, Women",5 h2 r1/2,No,True
1,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,1980 Summer Olympics,Athletics,"4 × 400 metres Relay, Women",AC r2/2,No,True
2,Nataliya Uryadova,Female,15 March 1977,184.0,70,Russian Federation,RUS,2008 Summer Olympics,Beach Volleyball,"Beach Volleyball, Women",19,No,True
3,Essa Ismail Rashed,Male,14 December 1986,165.0,55,Qatar,QAT,2008 Summer Olympics,Athletics,"10,000 metres, Men",20,No,False
4,Péter Boros,Male,12 January 1908,NaN,NaN,Hungary,HUN,1932 Summer Olympics,Artistic Gymnastics,"Individual All-Around, Men",19,No,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
316822,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,1992 Summer Olympics,Athletics,"4 × 400 metres Relay, Men",5,No,True
316823,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,1996 Summer Olympics,Athletics,"400 metres, Men",5 h2 r3/4,No,False
316824,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,1996 Summer Olympics,Athletics,"4 × 400 metres Relay, Men",AC h2 r2/3,No,True
316825,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,2000 Summer Olympics,Athletics,"400 metres, Men",7 h4 r2/4,No,False
316826,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,2000 Summer Olympics,Athletics,"4 × 400 metres Relay, Men",1,Gold,True