<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/300px-Pandas_logo.svg.png" >

# Data Series

### What is Data Series?

In Pandas, a **Data Series** is a single, one-dimensional data structure. Simply put we can say that it is a single column of data. Data Series also contains a **indexes** of each element.

## 1.How to create Data Series?

In [34]:
import pandas as pd

In [62]:
cities = ["London", "Warsaw", "Berlin", "Paris"]
pd.Series(cities)

0    London
1    Warsaw
2    Berlin
3     Paris
dtype: object

In [64]:
pd.Series(["Cat", "Dog", "Parrot", "Hamster"])

0        Cat
1        Dog
2     Parrot
3    Hamster
dtype: object


If you want to create a Data Series with your **own names of indexes**, ypu should use a **dictionary**.

In [71]:
pet = {"name" : "Jack", "type" : "cat", "color" : "black"}
pd.Series(pet)

name      Jack
type       cat
color    black
dtype: object

### Exercises:

1. Create a list of week days and give it a name **weekdays**.
2. Create Data Series object based od created **weekdays** list, and assign it to variable **weekdaysSeries**. Display this variable.
3. Create list **freeDays**. List should contains the same amount of elements like **weekdays** list. In the next positions in the list assign value **True** if the day is free or **False** if the day is not free.
4. Create **freeDaysSeries** Data Series object based on **freeDays** list. Display created variable. What is the type of list?
5. Create dictionary **holidays**. Key is the name of holiday, a value is date.
6. Create Data Series **holidaysSeries** based on created dictionary.

### Solutions:

In [102]:
weekdays = ["Monday", "Tuesday", "Wendesday", "Thursday", "Friday", "Saturday", "Sunday"]
weekdaysSeries = pd.Series(weekdays)
weekdaysSeries

0       Monday
1      Tuesday
2    Wendesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object

In [108]:
freeDays = [False, False, False, False, False, True, True]
freeDaysSeries = pd.Series(freeDays)
freeDaysSeries

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [118]:
holidays = {"New year" : "2025-01-01", "Epiphany" : "2025-01-06", "Easter" : "2025-04-01"}
holidaysSeries = pd.Series(holidays)
holidaysSeries

New year    2025-01-01
Epiphany    2025-01-06
Easter      2025-04-01
dtype: object

## 2. Data Series attributes

1. **size** - display size of the Data Series
2. **is_uniqe** - display **True** if all elements are uniqe.
3. **is_monotonic_decresing/decresing** - check monotonic of elements. For example in alphabetical order.
4. **values** - show all values in DS.
5. **dtype** - show type of DS.
6. **shape** - shape of DS.
7. **axes** - axes of DS.
8. **nbytes** - how many memory has DS.

### Exercises:

1. Create a list with 100000 random numbers elements.
2. Create **dataAsFloatSeries** DS object based on random list.
3. Display all atributes.
4. Create a list again, but each random number should be string.
5. Create **dataAsStringSeries** DS object based on random list.
6. Display attributes: **size**, **nbytes**, **dtype**.

### Solutions:

In [148]:
import random as rnd

dataAsFloatSeries = pd.Series([i*rnd.random() for i in range(100000)])
dataAsFloatSeries

0            0.000000
1            0.979406
2            1.959579
3            0.582970
4            1.155358
             ...
99995    30502.665301
99996    74073.741310
99997    88220.968299
99998    69145.763693
99999    15304.667810
Length: 100000, dtype: float64

In [150]:
dataAsFloatSeries.size

100000

In [160]:
dataAsFloatSeries.is_unique

True

In [164]:
dataAsFloatSeries.nbytes

800000

In [166]:
dataAsFloatSeries.shape

(100000,)

In [176]:
dataAsStringSeries = pd.Series([str(i*rnd.random()) for i in range(100000)])
dataAsStringSeries

0                       0.0
1        0.5590690337915314
2        1.8840293434200341
3        0.5253851075830951
4         1.356009402868668
                ...
99995     70872.99564548633
99996     32929.39784504684
99997    17457.305000124663
99998     85756.87108959926
99999     80728.02905133994
Length: 100000, dtype: object

In [180]:
dataAsStringSeries.size

100000

In [182]:
dataAsStringSeries.nbytes

800000

In [184]:
dataAsStringSeries.dtype

dtype('O')