<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/300px-Pandas_logo.svg.png" >

# Data Series

### What is Data Series?

In Pandas, a **Data Series** is a single, one-dimensional data structure. Simply put we can say that it is a single column of data. Data Series also contains a **indexes** of each element.

## 1.How to create Data Series?

In [34]:
import pandas as pd

In [62]:
cities = ["London", "Warsaw", "Berlin", "Paris"]
pd.Series(cities)

0    London
1    Warsaw
2    Berlin
3     Paris
dtype: object

In [64]:
pd.Series(["Cat", "Dog", "Parrot", "Hamster"])

0        Cat
1        Dog
2     Parrot
3    Hamster
dtype: object


If you want to create a Data Series with your **own names of indexes**, ypu should use a **dictionary**.

In [71]:
pet = {"name" : "Jack", "type" : "cat", "color" : "black"}
pd.Series(pet)

name      Jack
type       cat
color    black
dtype: object

### Exercises:

1. Create a list of week days and give it a name **weekdays**.
2. Create Data Series object based od created **weekdays** list, and assign it to variable **weekdaysSeries**. Display this variable.
3. Create list **freeDays**. List should contains the same amount of elements like **weekdays** list. In the next positions in the list assign value **True** if the day is free or **False** if the day is not free.
4. Create **freeDaysSeries** Data Series object based on **freeDays** list. Display created variable. What is the type of list?
5. Create dictionary **holidays**. Key is the name of holiday, a value is date.
6. Create Data Series **holidaysSeries** based on created dictionary.

### Solutions:

In [102]:
weekdays = ["Monday", "Tuesday", "Wendesday", "Thursday", "Friday", "Saturday", "Sunday"]
weekdaysSeries = pd.Series(weekdays)
weekdaysSeries

0       Monday
1      Tuesday
2    Wendesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object

In [108]:
freeDays = [False, False, False, False, False, True, True]
freeDaysSeries = pd.Series(freeDays)
freeDaysSeries

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [118]:
holidays = {"New year" : "2025-01-01", "Epiphany" : "2025-01-06", "Easter" : "2025-04-01"}
holidaysSeries = pd.Series(holidays)
holidaysSeries

New year    2025-01-01
Epiphany    2025-01-06
Easter      2025-04-01
dtype: object

## 2. Data Series attributes

1. **size** - display size of the Data Series
2. **is_uniqe** - display **True** if all elements are uniqe.
3. **is_monotonic_decresing/decresing** - check monotonic of elements. For example in alphabetical order.
4. **values** - show all values in DS.
5. **dtype** - show type of DS.
6. **shape** - shape of DS.
7. **axes** - axes of DS.
8. **nbytes** - how many memory has DS.

### Exercises:

1. Create a list with 100000 random numbers elements.
2. Create **dataAsFloatSeries** DS object based on random list.
3. Display all atributes.
4. Create a list again, but each random number should be string.
5. Create **dataAsStringSeries** DS object based on random list.
6. Display attributes: **size**, **nbytes**, **dtype**.

### Solutions:

In [148]:
import random as rnd

dataAsFloatSeries = pd.Series([i*rnd.random() for i in range(100000)])
dataAsFloatSeries

0            0.000000
1            0.979406
2            1.959579
3            0.582970
4            1.155358
             ...
99995    30502.665301
99996    74073.741310
99997    88220.968299
99998    69145.763693
99999    15304.667810
Length: 100000, dtype: float64

In [150]:
dataAsFloatSeries.size

100000

In [160]:
dataAsFloatSeries.is_unique

True

In [164]:
dataAsFloatSeries.nbytes

800000

In [166]:
dataAsFloatSeries.shape

(100000,)

In [176]:
dataAsStringSeries = pd.Series([str(i*rnd.random()) for i in range(100000)])
dataAsStringSeries

0                       0.0
1        0.5590690337915314
2        1.8840293434200341
3        0.5253851075830951
4         1.356009402868668
                ...
99995     70872.99564548633
99996     32929.39784504684
99997    17457.305000124663
99998     85756.87108959926
99999     80728.02905133994
Length: 100000, dtype: object

In [180]:
dataAsStringSeries.size

100000

In [182]:
dataAsStringSeries.nbytes

800000

In [184]:
dataAsStringSeries.dtype

dtype('O')

## 3. Data Series methods

1. sum() - sum of elements in Data Series object.
2. min() - minimal value in Data Series object.
3. max() - maimal value in DS.
4. mean() - mean of elements in DS.
5. count() - amount of elements in DS. 
6. product() - mulitiplication of each element in DS.
7. to_list() - change Data Series to object.
8. add() - adds each value in Data Series with a specific way.

### Exercises:
1. Creaete two lists:
   - **cities** with the names of three biggest countries in the world: Shanghai, Beijing, Istanbul.
   - **population** with the amount of the citizents in each city in **cities** list.
2. Create citipop Data Series variable. The idnex of DS should be a name of the city from **cities** and the value sould be a **population**. Create this object with passing aguments by position.
3. Do the same steps like before, but create DS with names of aguments.
4. What is the sum of all citizents?
5. What is the mean?
6. Show the index by methon and by attribute.
7. Show the values of **citypop**.

### Solutuions:

In [9]:
import pandas as pd
cities = ["Shanghai", "Beijing", "Istanbul"]
population = [24_870_000, 21_766_000, 15_660_000]

In [25]:
citypop = pd.Series(population, cities)
citypop

Shanghai    24870000
Beijing     21766000
Istanbul    15660000
dtype: int64

In [19]:
citypop2 = pd.Series(index = cities, data = population)
citypop2

Shanghai    24870000
Beijing     21766000
Istanbul    15660000
dtype: int64

In [27]:
citypop.sum()

62296000

In [29]:
citypop.mean()

20765333.333333332

In [31]:
citypop.index

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [39]:
citypop.values

array([24870000, 21766000, 15660000], dtype=int64)

## 4. Data Filtering in Data Series

### Boolean indexing

This is a fast and simple way of filtering data in Data Series. Use it, when you just want show filtered data and dont want to modify it.

In [53]:
numbers = [1,2,3,4,5,6]
numbersSeries = pd.Series(numbers)
numbersSeries>3

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [55]:
numbersSeries[numbersSeries>3]

3    4
4    5
5    6
dtype: int64

In [65]:
letters = list("abcd")
lettersSeries = pd.Series(letters)
lettersSeries > "b"

0    False
1    False
2     True
3     True
dtype: bool

In [69]:
lettersSeries[lettersSeries>"b"]

2    c
3    d
dtype: object

In [73]:
lettersSeries

0    a
1    b
2    c
3    d
dtype: object

### Masking 

This is mroe complex way of filtering data in Data Series. In this method, we have more control. We can modify original Data Series, or we can swap mismatched data. We can also just drop missmatced data without modifing original Sereis.

In [82]:
numbers = [1,2,3,4,5,6]
numbersSeries = pd.Series(numbers)
numbersSeries > 3

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [91]:
numbersSeries.where(numbersSeries > 3)

0    NaN
1    NaN
2    NaN
3    4.0
4    5.0
5    6.0
dtype: float64

In [93]:
numbersSeries.where(numbersSeries > 3, other = "not passing")

0    not passing
1    not passing
2    not passing
3              4
4              5
5              6
dtype: object

In [97]:
numbersSeries.where(numbersSeries > 3).dropna()

3    4.0
4    5.0
5    6.0
dtype: float64

In [105]:
numbersSeries.where(numbersSeries > 3, inplace=True)
numbersSeries

0    NaN
1    NaN
2    NaN
3    4.0
4    5.0
5    6.0
dtype: float64

In [107]:
numbersSeries.dropna()

3    4.0
4    5.0
5    6.0
dtype: float64

In [109]:
numbersSeries

0    NaN
1    NaN
2    NaN
3    4.0
4    5.0
5    6.0
dtype: float64

In [111]:
numbersSeries.dropna(inplace=True)

In [113]:
numbersSeries

3    4.0
4    5.0
5    6.0
dtype: float64

### Filltering based on index

In [119]:
numbersSeries = pd.Series(numbers)
numbersSeries

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [125]:
numbersSeries.filter(items=[0,2,4])

0    1
2    3
4    5
dtype: int64

### Exercises:

In [138]:
accidentsNumber = [14,334,312,5823,9491,7486,4343]
age = [ "<6", "7-14", "15-17", "18-24", "25-39", "40-59", ">60"]
accidents = pd.Series(index = age, data = accidentsNumber)

1. Show only the groups that caused mroe than 1000 accidents. At first display **NaN** also, then eliminate it.
2. Assign a value of previous command in a **incident100** variable. Display it.
3. Make sure, that original Data Series has not changed.
4. Display data for only **18-59** age.
5. Filter original Data Series. Show only positions that have number of accidents less or equal 1000. Object should have only this values (modify original structure).

### Solutions:

In [143]:
accidents.where(accidents > 1000)

<6          NaN
7-14        NaN
15-17       NaN
18-24    5823.0
25-39    9491.0
40-59    7486.0
>60      4343.0
dtype: float64

In [155]:
accidents.where(accidents > 1000).dropna().index

Index(['18-24', '25-39', '40-59', '>60'], dtype='object')

In [157]:
accidents.where(accidents > 1000).dropna()

18-24    5823.0
25-39    9491.0
40-59    7486.0
>60      4343.0
dtype: float64

In [159]:
accidents[accidents > 1000]

18-24    5823
25-39    9491
40-59    7486
>60      4343
dtype: int64

In [161]:
accidents[accidents > 1000].index

Index(['18-24', '25-39', '40-59', '>60'], dtype='object')

In [165]:
incident1000 = accidents.where(accidents > 1000).dropna()
incident1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
>60      4343.0
dtype: float64

In [167]:
accidents

<6         14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
>60      4343
dtype: int64

In [173]:
accidents.filter(items = ["18-24", "25-39", "40-59"])

18-24    5823
25-39    9491
40-59    7486
dtype: int64

In [177]:
accidents.where(accidents <= 1000, inplace = True)
accidents.dropna(inplace = True)
accidents

<6        14.0
7-14     334.0
15-17    312.0
dtype: float64

## 5. More complex filtering

## Exercises:

In [190]:
namesList = ['Albania','Austria','Belarus',
'Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia',
'Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy',
'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain', 'Sweden','Switzerland','United Kingdom','Turkey','Ukraine']
energy2010List = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,
51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,
6410,4359,6521,5707,14934,8175,2498,3550,5701]
energy2012List  = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,
53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,
6617,4387,6778,5573,14290,7886,2794,3641,5452]

namesSeries = pd.Series(namesList)
energy2010Series = pd.Series(energy2010List)
energy2012Series = pd.Series(energy2012List)

1. Create variables for mean of 2010 and 2012.
2. Compare mean energy usage to energy usage in 2010 and 2012 separately (above mean).
3. Show only countries that usage was above mean in 2010 and 2012.
4. Compare mean energy in 2010 to energy use in 2010. (below).
5. Check countries that has less usage in 2010 than mean in 2010 and at the same time mean in 2012 was higher than usage in 2012.

In [205]:
mean2010 = energy2010Series.mean()
mean2012 = energy2012Series.mean()

filterAboveMean2010 = energy2010Series > mean2010
filterAboveMean2012 = energy2012Series > mean2012

namesSeries.where(filterAboveMean2010 & filterAboveMean2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

In [211]:
filterBelowMean2010 = energy2010Series < mean2010

namesSeries.where(filterBelowMean2010 & filterAboveMean2012).dropna()

Series([], dtype: object)

## 6. Reading Series Objets

In [222]:
table = pd.read_csv("./data/pokemon.csv")

In [226]:
type(table)

pandas.core.frame.DataFrame

In [228]:
table

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [236]:
names = pd.read_csv("./data/pokemon.csv", usecols = ['Name'])

In [238]:
names

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [240]:
type(names)

pandas.core.frame.DataFrame

In [252]:
names = pd.read_csv("./data/pokemon.csv", usecols = ['Name']).squeeze()
names

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [254]:
type(names)

pandas.core.series.Series

### Exercises:

1. Import **FormalEducation** column from **StackOverflowDeveloperSurvey.csv** as one column **DataFrameObject** (variable name edcation).
2. Check type.
3. Show 5 first rows.
4. Repeat first step, but now import as **Data Series**.
5. Check type.
6. Show 10 last rows.
7. Import whole table to **allInfo** variable.
8. Initialize **country** Data Series object, take advantage of column **country** from **allInfo**.
9. Show 5 first rows from country.
10. Create filterOnlyUsa, **True** if value in countries is **United States**.
11. Show 5 first rows from filterOnlyUsa.
12. Show data from **education**:
    - Information should be only about persons who deggr in USA.
    - NaN should be deleted.
    - Show only 10 first rows.
    - Use one command.

In [264]:
education = pd.read_csv("./data/StackOverflowDeveloperSurvey.csv", usecols=['FormalEducation'])
type(education)

pandas.core.frame.DataFrame

In [266]:
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [268]:
education = pd.read_csv("./data/StackOverflowDeveloperSurvey.csv", usecols=['FormalEducation']).squeeze()
type(education)

pandas.core.series.Series

In [272]:
education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [284]:
allInfo = pd.read_csv("./data/StackOverflowDeveloperSurvey.csv")
country = allInfo['Country']
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [310]:
filterOnlyUsa = country == "United States"
filterOnlyUsa.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [316]:
education.where(filterOnlyUsa).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object

## 7. Sorting Series

In [319]:
indexes = [2,3,4,1,345,9]
values = list("abcdef")
series = pd.Series(index = indexes, data = values)
series

2      a
3      b
4      c
1      d
345    e
9      f
dtype: object

In [321]:
series.sort_values()

2      a
3      b
4      c
1      d
345    e
9      f
dtype: object

In [323]:
series.sort_values(ascending = False)

9      f
345    e
1      d
4      c
3      b
2      a
dtype: object

In [327]:
series.sort_index()

1      d
2      a
3      b
4      c
9      f
345    e
dtype: object

In [329]:
series.sort_index(ascending = False)

345    e
9      f
4      c
3      b
2      a
1      d
dtype: object

In [350]:
salary = pd.read_csv("./data/StackOverflowDeveloperSurvey.csv", usecols = ['Salary']).squeeze().dropna()

### Exercises:

1. Sort data descending (show 5 positions).
2. Sort data ascending (show 5 positions).
3. Sort data descending again, but this time modify original series.
4. Sort data by idnex descending.
5. Create **maxSalaries** and **minSalaries** variable and designate mean of it.

In [358]:
salary.sort_values(ascending = False).head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [360]:
salary.sort_values(ascending = True).head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [368]:
salary.sort_values(ascending = False, inplace = True)
salary

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
           ...
23907         0.0
23953         0.0
2951          0.0
4517          0.0
51144         0.0
Name: Salary, Length: 12891, dtype: float64

In [372]:
salary.sort_index()

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Salary, Length: 12891, dtype: float64

In [376]:
maxSalaries = salary.head(100).mean()
maxSalaries

180198.1045586777

In [382]:
minSalaries = salary.tail(100).mean()
minSalaries

67.08388907133795

In [384]:
    index=['audi','bmw','citroen','dacia']
    values = [300,45,230,440]
    cars = pd.Series(values, index)
    cars

audi       300
bmw         45
citroen    230
dacia      440
dtype: int64

## 8. Checking if element is on list

In [393]:
numbers = [1,5,6,23,4,34]
numbersSeries = pd.Series(numbers)
numbersSeries
5 in numbersSeries.values

True

In [397]:
34 in numbersSeries

False

## 9. Values by indexes

In [400]:
numbers = [1,3,4,5,34,34]
numbersSeries = pd.Series(numbers)
numbersSeries

0     1
1     3
2     4
3     5
4    34
5    34
dtype: int64

In [402]:
numbersSeries[3]

5

In [406]:
numbersSeries[[2,5]]

2     4
5    34
dtype: int64

In [410]:
numbersSeries[1:4]

1    3
2    4
3    5
dtype: int64

## Exercises: 

1. Display value from third position (index 3).
2. Display values of indexes **1-10**.
3. Display value of index **12345**.
4. Display values of indexes **12345 - 12350**.
5. Sort Series with **inplace=True** and do steps 2-5 again.
6. Reset index and do step 5 again.

In [426]:
surveys = pd.read_csv("./data/StackOverflowDeveloperSurvey.csv", usecols=['CompanySize']).squeeze().dropna()
surveys

1              20 to 99 employees
2        10,000 or more employees
3        10,000 or more employees
4              10 to 19 employees
6              20 to 99 employees
                   ...
51387        100 to 499 employees
51388        100 to 499 employees
51389          10 to 19 employees
51390     Fewer than 10 employees
51391    10,000 or more employees
Name: CompanySize, Length: 38922, dtype: object

In [428]:
surveys[3]

'10,000 or more employees'

In [430]:
surveys[1:11]

2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
10        100 to 499 employees
11        100 to 499 employees
13     Fewer than 10 employees
14    5,000 to 9,999 employees
Name: CompanySize, dtype: object

In [432]:
surveys[12345]

'20 to 99 employees'

In [436]:
surveys[12345:12351]

15994      20 to 99 employees
15995    100 to 499 employees
15996      10 to 19 employees
15997            I don't know
15998      20 to 99 employees
15999    100 to 499 employees
Name: CompanySize, dtype: object

In [440]:
surveys.sort_values(inplace=True)
surveys[3]

'10,000 or more employees'

In [442]:
surveys[1:11]

48599    1,000 to 4,999 employees
48597    1,000 to 4,999 employees
8147     1,000 to 4,999 employees
1223     1,000 to 4,999 employees
48591    1,000 to 4,999 employees
18639    1,000 to 4,999 employees
48630    1,000 to 4,999 employees
34118    1,000 to 4,999 employees
32839    1,000 to 4,999 employees
17392    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [446]:
surveys[12345]

'20 to 99 employees'

In [448]:
surveys.reset_index(drop=True,inplace=True)

## 10. Getting values by indexes methods

<img src="./images/indexes.png" width="700px"/>

In [9]:
import pandas as pd

indexes = list("abcdef")
words = ["aa", "bb", "cc", "dd", "ee", "ff"]
series = pd.Series(index = indexes, data = words)
series

a    aa
b    bb
c    cc
d    dd
e    ee
f    ff
dtype: object

In [15]:
series.iloc[1]

'bb'

In [17]:
series.iloc[[1,2,3]]

b    bb
c    cc
d    dd
dtype: object

In [19]:
series.loc['a']

'aa'

In [23]:
series.loc[['a', 'b', 'c']]

a    aa
b    bb
c    cc
dtype: object

## 11. Problems with **iloc** and **loc**.

In [27]:
indexes = list("abcdef")
words = ["aa", "bb", "cc", "dd", "ee", "ff"]
series = pd.Series(index = indexes, data = words)
series

a    aa
b    bb
c    cc
d    dd
e    ee
f    ff
dtype: object

In [41]:
#series.loc[['a', 'c', 'g']]

This formula cause error, because **g** index is not in the sereis

In [45]:
series.reindex(['a', 'c', 'g'])

a     aa
c     cc
g    NaN
dtype: object

In [47]:
series.reindex(['a','c', 'g']).dropna()

a    aa
c    cc
dtype: object

In [53]:
series.loc[series.index.intersection(['a', 'b', 'g'])]

a    aa
b    bb
dtype: object

But there is a problem, when one of the indexes that we trying to find is not uniqe. In that case this formulas cause errors.

## 12. Reading data with specified index

In [77]:
fortune500 = pd.read_csv("./data/Fortune_500_2017.csv", usecols=["Rank", "Title"], index_col="Rank").squeeze()

In [79]:
fortune500.head()

Rank
1               Walmart
2    Berkshire Hathaway
3                 Apple
4           Exxon Mobil
5              McKesson
Name: Title, dtype: object

In [81]:
fortune500[:10]

Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor
Name: Title, dtype: object

In [83]:
fortune500[-20:]

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

In [85]:
fortune500 = pd.read_csv("./data/Fortune_500_2017.csv", usecols=["Title", "Employees"], index_col="Title").squeeze()

In [89]:
fortune500.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [98]:
fortune500.loc[["IBM", "Facebook", "Apple", "Alphabet"]]

Title
IBM         414400
Facebook     17048
Apple       116000
Alphabet     72053
Name: Employees, dtype: int64

In [100]:
fortune500["IBM":"Intel"]

Title
IBM                          414400
State Farm Insurance Cos.     68234
Phillips 66                   14800
Johnson & Johnson            126400
Procter & Gamble             105000
Valero Energy                  9996
Target                       323000
Freddie Mac                    5982
Lowe’s                       240000
Dell Technologies            138000
MetLife                       58000
Aetna                         49500
PepsiCo                      264000
Archer Daniels Midland        31800
UPS                          335520
Intel                        106000
Name: Employees, dtype: int64

## 13. Basic functions for data analysis

In [107]:
fortune500 = pd.read_csv("./data/Fortune_500_2017.csv", usecols=["Title", "Employees"], index_col="Title").squeeze()
fortune500.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [119]:
fortune500.idxmax()

'Walmart'

In [127]:
fortune500.loc[fortune500.idxmax()]

2300000

In [129]:
fortune500.idxmin()

'A-Mark Precious Metals'

In [133]:
fortune500.loc[fortune500.idxmin()]

83

## 14. Modifications

In [138]:
series = pd.Series([112,122,33,47,5,3221])
series

0     112
1     122
2      33
3      47
4       5
5    3221
dtype: int64

In [140]:
series*100

0     11200
1     12200
2      3300
3      4700
4       500
5    322100
dtype: int64

In [142]:
series-1

0     111
1     121
2      32
3      46
4       4
5    3220
dtype: int64

In [148]:
series.apply(lambda num : num * 5)

0      560
1      610
2      165
3      235
4       25
5    16105
dtype: int64

In [154]:
series2 = pd.Series(list("abcdef"))
series2

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [156]:
series2.str.upper()

0    A
1    B
2    C
3    D
4    E
5    F
dtype: object

In [158]:
series2 + "ddd"

0    addd
1    bddd
2    cddd
3    dddd
4    eddd
5    fddd
dtype: object

In [166]:
series2.apply(lambda string: string.upper())

0    A
1    B
2    C
3    D
4    E
5    F
dtype: object